*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100vh;
    width: 100vw;
    
}
h1
{
    height: 20%;
    background-color: #A6285A;
    color: #FFF;
    text-align: center;
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
}
ul
{
    list-style-type: none;
}
li
{
    text-align: center;
}
img
{
   
    width: 33%;
    height: auto;
}